
<app-navbar></app-navbar>

<div class="container">
 <router-outlet></router-outlet>

</div>


<div class="container">


  <ag-grid-angular style="width: 1050px; height: 250px;" class="ag-theme-material"
                   [rowData]="data2"
                   [columnDefs]="columnDefs"
                   [enableFilter]="true"
                   [enableColResize]="true"
                   [groupHeaderHeight]="groupHeaderHeight"
                   [headerHeight]="headerHeight"
                   [floatingFiltersHeight]="floatingFiltersHeight"
                   [pivotGroupHeaderHeight]="pivotGroupHeaderHeight"
                   [pivotHeaderHeight]="pivotHeaderHeight"

                   [enableSorting]="true"
                   [showToolPanel]="true">

  </ag-grid-angular>
</div>
